@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  min-height: 100%;
  background-color: rgb(87, 0, 169);
}
main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

.center {
  text-align: center;
}

h1 {
  font-weight: 400;
  color: whitesmoke;
}

#form h1 {
  font-size: x-large;
  color: black;
  text-decoration: underline;
}
h2 {
  font-weight: 300;
  color: black;
  font-size: larger;
  text-decoration: underline;
}

label {
  font-weight: 400;
  color: black;
  /*background-color: antiquewhite;*/
}

div.form {
  margin: auto;
  max-width: 900px;
  background-color: whitesmoke !important;
  margin-left: 12%;
  margin-right: 5%;
  padding: 10px;
  border-color: whitesmoke;
  box-shadow: 30px 30px 18px -9px rgba(110, 5, 5, 0.15);
  border-radius: 20px;
}

select {
  max-width: 65%;
}

input {
  max-width: 65%;
}

#propiedad.input-text {
  background-color: aliceblue;
  border: solid 2px;
  border-color: rgb(187, 119, 250);
  border-radius: 10px;
}

.input-text {
  background-color: aliceblue;
  border: solid 2px;
  border-color: rgb(187, 119, 250);
  border-radius: 10px;
}

#metros2.input-text {
  background-color: aliceblue;
  border: solid 2px;
  border-color: rgb(187, 119, 250);
  border-radius: 10px;
}

th {
  color: black;
  font-weight: 300;
  font-size: 1.2rem;
}

table {
  color: aliceblue !important;
  border: solid 1px;
  padding-left: 2%;
  padding-right: 2%;
}

.ocultar {
  display: none;
}

button {
  background-color: white !important;
  color: black !important;
  border-radius: 10px;
  box-shadow: 10px 8px 8px -2px rgba(110, 5, 5, 0.15);
}
button:hover {
  color: white !important;
  background-color: blueviolet !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

button:active {
  background-color: black !important;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

#cotizacion {
  color: rgba(53, 2, 108, 0.96) !important;
  font-weight: 300;
}

.btn #historial {
  margin-top: 1rem;
  box-shadow: 10px 8px 8px -2px rgba(110, 5, 5, 0.15);
}

.btn-historial {
  margin-left: 2.5rem;
}
.content-btn-historial {
  padding: 8px;
  padding-top: 15px;
}

.btn :hover #historial {
  color: white !important;
  background-color: blueviolet !important;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.btn :active #historial {
  background-color: black !important;
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

.table {
  background-color: rgb(205, 187, 222);
  box-shadow: 25px 25px 18px -9px rgba(101, 2, 2, 0.15);
}

td {
  color: black;
}

th {
  width: 200;
}
